body {
    font-family: Arial, sans-serif;
    background-color:  #f3f4f6;
}

.header {
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2563eb;
}

.container {
    display: flex;
    max-width: 1140px;
    min-height: 100vh;
    padding:  24px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 16px 24px;
    background-color: #e5e7eb;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.sidebar-item {
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.sidebar-item:hover {
    background-color: rgb(200, 200, 200);
    transition: 0.2s ease;
    cursor: pointer;
}

.main {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    border: 2px solid #ddd;
    height: 100vh;
    
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}

.search-bar input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.email-item {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px #ddd;
    align-items: center;
    
}

.email-left {
    display: flex;
    gap: 20px;
}

.email-sender{
    font-weight: 600;
    min-width: 150px;
}

.email-subject {
    color: #555;
}

.email-date {
    font-size: 0.85rem;
    color: #777;
}

.email-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.email-list :hover {
    background-color: rgb(216, 216, 216);

}

.nuevo-correo{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nuevo-correo:hover {
    background-color: #1e4fd8;
}

.search-button {
    padding: 12px 20px;
    background-color: #1e4fd8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Responsividad*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 16px;
    }
    


.sidebar {
    flex: none;
    max-width: 100%;
    width: 100%;
}

.email-item {
    flex-direction: column; 
    align-items: flex-start;
    gap : 4px;
}

.search-bar {
    flex-direction: column;
    align-items: stretch;
}
.search-bar input {
    width: 100%;
}

.search-bar button {
     width: 100%;
}

}