body {
    font-family: Arial, sans-serif;
    background-color:  #f3f4f6;
}

.container {
    display: flex;
    max-width: 1140px;
    min-height: 100vh;
    padding:  24px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 16px 24px;
    background-color: #e5e7eb;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.sidebar-item {
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.sidebar-item:hover {
    background-color: rgb(200, 200, 200);
}

.main {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    border: 2px solid #ddd;
    
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}

.search-bar input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.email-item {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 4px;
    align-items: center;
    border-bottom: solid 1px #ddd;
}

.email-list {
    display: flex;
    flex-direction: column;
}

.email-list :hover {
    background-color: rgb(216, 216, 216);

}

.nuevo-correo{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nuevo-correo:hover {
    background-color: #1e4fd8;
}

.search-button {
    padding: 12px 20px;
    background-color: #1e4fd8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
